<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CommoditygMapper">
    <resultMap id="BaseResultMap" type="com.pojo.Commodityg">
        <id     column="gid"               jdbcType="INTEGER"        property="gid"   />
        <result column="comid"           jdbcType="INTEGER"        property="comid" />
        <result column="gname"         jdbcType="VARCHAR"    property="gname" />
        <result column="img"          jdbcType="VARCHAR"    property="img" />
        <result column="preimg"        jdbcType="VARCHAR"    property="preimg" />
        <result column="n1"            jdbcType="INTEGER"        property="n1" />
        <result column="n2"            jdbcType="VARCHAR"    property="n2" />
        <result column="n3"            jdbcType="VARCHAR"    property="n3"/>
        <result column="cgid"          jdbcType="INTEGER"        property="cgid"  />
        <result column="isimg"         jdbcType="TINYINT"    property="isimg"  />
    </resultMap>
    <resultMap id="ShoppingcatMap"  type="com.pojo.ShoppingCat" >
        <id     column="commodityid"        jdbcType="INTEGER"      property="commodityid"/>
        <result column="commoditycolor"     jdbcType="VARCHAR"      property="commoditycolor"/>
        <result column="commoditysum"       jdbcType="INTEGER"      property="commoditysum"/>
        <result column="commodguige"        jdbcType="VARCHAR"      property="commodguige"/>
        <result column="comid"              property="comid"        jdbcType="INTEGER"/>
        <result column="commcolor"         property="commcolor"     jdbcType="VARCHAR"/>
        <result column="commodstatus"       property="commodstatus" jdbcType="INTEGER"/>
        <result column="upid"               property="upid"         jdbcType="INTEGER"/>
        <result column="uid"                property="uid"          jdbcType="INTEGER"/>
        <result column="price"              property="price"        jdbcType="DECIMAL"/>
        <result column="udate"              property="udate"        jdbcType="DATE"/>
        <result column="onid"               property="onid"         jdbcType="VARCHAR"/>
        <association property="shoppingcat" resultMap="BaseResultMap"/>
    </resultMap>
    <select id="getCommodityg" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from
            commodityg where comid=#{comid}
    </select>

    <select id="getCommoditygById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT cc.*,ci.* FROM commodityg as cc ,commodityguige as ci
        where cc.gid=ci.gg3  and ci.id=#{id}
    </select>
</mapper>
