<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.web2022.dao.SessionDao">
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into session(token, expire_at, owner_id)
        values (#{model.token}, #{model.expireAt}, #{model.owner.id})
    </insert>

    <delete id="delete">
        delete from session where token = #{token}
    </delete>

    <select id="findV" resultType="com.web.web2022.model.domain.Session">
        select s.id as id,
               s.token as token,
               s.expire_at as expireAt,
               s.owner_id as `owner.id`,
               u.username as `owner.username`,
               u.name as `owner.name`,
               u.balance as `owner.balance`,
               u.credit as `owner.credit`
        from session s left join user u on s.owner_id = u.id
        where s.token = #{token}
    </select>
</mapper>